#Enquiry_Information_container
{
	margin-top: 8px;
	text-align: center;
	margin-top: 15%;
}
.Mail_id
{
	font-size: 16px;
}
.Phone
{
	font-size: 16px;

}
i{
	margin-right:5px;
}
@media only screen and (max-width: 411px) { /* very low xs  */
	#side-bar > .navbar-collapse {
    margin-top: 98px;
}
}